$credit-height: 5.398cm;
$credit-width: 8.56cm;

.card {
  border-radius: 2mm;
  background-color: white;
  box-shadow: 5px 5px 10px black;
  padding: 1.5rem;
}

.credit-card {
  z-index: 1;
  width: $credit-width;
  height: $credit-height;
  color: white;
  background-image: url('https://sv1.picz.in.th/images/2021/07/20/2zzeeW.jpg');
  background-size: 100%;
  margin: auto;
  margin-top: 5%;

  .visa-png {
    margin-top: -0.6cm;
    margin-left: 5.4cm;
    height: 3cm;
    img {
      height: 2cm;
      width: 2cm;
    }
  }

  .chip-png {
    margin-top: -1.5cm;
    img {
      height: 1cm;
      width: 1cm;
    }
  }

  .card-number {
    margin-top: 0.8cm;
    font-size: 24px;
  }

  .card-holder {
    margin-top: 0.5cm;
    font-size: 18px;
  }

  .card-exp {
    margin-top: -1.1cm;
    margin-left: 5cm;
    font-size: 16px;
  }
}

.info-card {
  z-index: 0;
  width: $credit-width * 1.3;
  margin: auto;
  margin-top: -2cm;

  h3 {
    margin-top: 2cm;
    text-align: center;
  }

  input,mat-select {
    box-shadow: 2px 2px 6px #242156;
    border-radius: 2mm;
    z-index: 1;
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom-style: solid;
    border-color: #eee;
  }

  input:focus,mat-select:focus {
    outline: none;
    border-color: #ee9ca7;
  }

  input[type='button'] {
    border: none;
    margin-top: 1rem;
    margin-bottom: 0;
    color: white;
    background-color: #fdc7c7;
  }

  input[type='button']:hover {
    background-color: #ee9ca7;
    box-shadow: 2px 2px 12px -1px #242156;
  }

  .content {
    width: 100%;

    .cardnum {
      width: 65%;
      float: left;
    }

    .divtype {
      width: 30%;
      float: right;
    }

    .expdate {
      width: 48%;
      float: left;
    }

    .cvvnum {
      width: 48%;
      float: right;
    }
  }
}
