<div class="card">
  <div class="card__front card__part">
    <img class="card__front-square card__square" src="https://img.icons8.com/office/80/000000/sim-card-chip.png">
    <img class="card__front-logo card__logo" src="https://logodix.com/logo/1153460.png" #cardType>
    <p class="card_numer">{{cardNumber}}</p>
    <div class="card__space-75">
      <span class="card__label">Card holder</span>
      <p class="card__info">{{cardHolder}}</p>
    </div>
    <div class="card__space-25">
      <span class="card__label">Expires</span>
      <p class="card__info">{{cardExp}}</p>
    </div>
  </div>

  <div class="card__back card__part">
    <div class="card__black-line"></div>
    <div class="card__back-content">
      <div class="card__secret">
        <p class="card__secret--last">{{cardCVV}}</p>
      </div>
      <img class="card__back-logo card__logo" src="https://logodix.com/logo/1153460.png" #cardTypeBack>
    </div>
  </div>
</div>





<div class="info-card">
  <h3>Payment</h3>
  <div class="content">
    <div>
      <label>Credit/Debit card number</label><br>
      <input type="text" placeholder="#### #### #### ####" inputmode="numeric" maxlength="16" [(ngModel)]="getNumber"
        (change)="setCardNumber()">
    </div>
    <div class="expdate">
      <label>Expiry date MM/YY</label><br>
      <input type="month" [(ngModel)]="getExp" (change)="setExp()" #Expdate>
    </div>
    <div class="cvvnum">
      <label>CCV/CVV Number</label><br>
      <input type="text" inputmode="numeric" maxlength="3" placeholder="###" [(ngModel)]="cardCVV" (change)="setCVV()">
    </div>
    <div>
      <label>Card Holder name (English)</label><br>
      <input type="text" placeholder="Name" [(ngModel)]="getName" (change)="setName()">
    </div>
  </div>
  <input type="button" value="Submit" (click)="submitClick()">
</div>


<a href="https://freefrontend.com/css-credit-cards/" class="ref">Card By Freefrontend</a>