<div class="credit-card card">
    <div class="visa-png"><img src="https://logodix.com/logo/1153460.png"></div>
    <div class="chip-png"><img src="https://img.icons8.com/office/80/000000/sim-card-chip.png"></div>
    <div class="card-number"><p>{{cardNumber}}</p></div>
    <div class="card-holder"><p >{{cardHolder | uppercase}}</p></div>
    <div class="card-exp"><p>{{cardExp}}</p></div>
    <div></div>
    
    
</div>
<div class="info-card card">
    <h3>Payment</h3>
    <div class="content">
        <label>Credit/Debit card number</label><br>
        <input type="text" placeholder="#### #### #### ####" inputmode="numeric" maxlength="16" [(ngModel)]="getNumber" (change)="setCardNumber()">
            <div class="left">
                <label>Expiry date</label><br>
                <input type="month" [(ngModel)]="getExp" (change)="setExp()">
            </div>
            <div class="right">
                <label>CCV/CVV Number</label><br>
                <input type="text" inputmode="numeric" maxlength="3" placeholder="000" [(ngModel)]="cardCVV" (change)="setCVV()">
            </div>
        <label>Card Holder name (English)</label><br>
        <input type="text" placeholder="Name" [(ngModel)]="getName" (change)="setName()">
    </div>
    <input type="button" value="Submit">
</div>