@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
    height: 100%;
    background: #ffdde1; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ffdde1,
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffdde1,
        #ee9ca7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    margin-left: 0.5rem;
    color: #DD8B96;
}

a:hover {
    text-shadow: 0 0 10px #DD8B96;
}

